@{
    ViewBag.Title = "Home Page";
}

<div class="container">
  <button style="padding: 15px;" id="getCurrencyData">Hämta data!!</button>
    <div style="display:none" id="loadingText">Loading...</div>
    <div>
        <table>
            <thead>
                <tr>LanguageCode</tr>
                <tr>Currency</tr>
            </thead>
            <tbody id="currencyDataBody">
            </tbody>
        </table>
    </div>

</div>