@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <button style="padding: 15px;" id="getCurrencyData">Hämta data!!</button>
        <div style="display:none" id="loadingText">Loading...</div>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>LanguageCoade</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody id="currencyDataBody"></tbody>
        </table>
    </div>

</div>