@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="currency-container">
        <div class="row">
            <button id="getCurrencyDataButton">Fetch currencydata</button>
            <div style="display:none" class="messages" id="loadingText">Loading...</div>
            <div style="display:none" class="messages" id="errorMessage"></div>
        </div>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>100 sek =</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody id="currencyDataBody"></tbody>
            </table>
        </div>
    </div>
</div>