body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    text-align: center;
}

table th {
    text-align: center;
    width: 150px;
}

table td {
    padding: 5px;
}
#getCurrencyDataButton {
    padding: 15px;
    margin: 20px;
    margin-left: 130px;
    background-color: #3aa8cc; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.messages  {
    text-align: center;
}
.currency-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px;
}
